[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
supabase = "==2.19.0"
python-dotenv = "==1.1.1"
google-genai = "==1.38.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
